.food-item {
    width: 100%;
    margin: auto;
    height: 170px; /* Use the height from mobile layout */
    border-radius: 15px;
    box-shadow: 0px 0px 0px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    display: flex;
    flex-direction: row; /* Side-by-side layout */
    gap: 10px;
    background-color: #f4f4f4;
    max-width: 400px; /* Set max width for larger screens */
}

/* Container for the image */
.food-item-img-container {
    padding: 10px;
    border-radius: 25px;
    position: relative;
    top: 12px;
}

/* Image styles */
.food-item-image {
    width: 100%; /* Full width inside the container */
    height: 70%; /* Fill most of the container height */
    border-radius: 15px; /* Round the corners */
    margin-top: 10px;
    object-fit: cover; /* Ensure the image maintains aspect ratio */
}

/* Info container */
.food-item-info {
    width: 50%; /* Adjust width to fit side by side */
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
}

/* Name and rating container */
.food-item-name-rating {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Name style */
.food-item-name-rating p {
    font-size: 16px;
    font-weight: 500;
}

/* Star rating style */
.food-item-name-rating .star-rating {
    display: flex;
}

.food-item-name-rating .star {
    font-size: 15px; 
    color: #e0e0e0; 
}

.food-item-name-rating .star.filled {
    color: #FFD700; 
}

/* Description */
.food-item-desc {
    color: #676767;
    font-size: 12px;
}

/* Price */
.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
}

/* Add button styles */
.food-item-img-container .add {
    width: 30px;
    position: absolute;
    bottom: 50px;
    right: 47px;
    cursor: pointer;
    border-radius: 50%;
}

/* Counter styles */
.food-item-counter {
    position: absolute;
    bottom: 52px;
    height: 27px;
    right: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background: white;
}

.food-item-counter img {
    width: 20px;
}

.out-of-stock-message {
    color: tomato;
    font-weight: 550;
    margin-left: 7px;
}
