html, body {
    height: 100%;
    margin: 0;
}

.email-verification-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    margin: auto;
}

.email-verification-container {
    background-color: #f4f4f4;
    border-radius: 16px;
    padding: 32px;
    width: 100%;
}

.email-verification-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    background: linear-gradient(to right, tomato, rgb(237, 91, 65));
    -webkit-background-clip: text;
    color: transparent;
}

.email-verification-subtitle {
    text-align: center;
    color: #333;
    margin-bottom: 24px;
}

.email-verification-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.error-message {
    color: #ef4444;
    font-weight: 600;
    margin-top: 8px;
}

.verify-button {
    width: 100%;
    background: linear-gradient(to right, tomato, rgb(237, 91, 65));
    color: #fff;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.verify-button:hover {
    background: linear-gradient(to right, tomato, rgb(237, 91, 65));
}

.verify-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.verify-button:focus {
    outline: none;
}

.input-container {
    position: relative;
    margin-bottom: 24px;
}

.icon-container {
    position: absolute;
    top: 5px;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 12px;
    pointer-events: none;
}

.lock-icon {
    font-size: 20px;
    color: tomato; /* Green color */
}

.password-input {
    width: 100%;
    padding-left: 40px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #f4f4f4; /* gray-800 with opacity */
    border-radius: 8px;
    border: 1px solid #374151; /* gray-700 */
    color: #333;
    placeholder-color: #9ca3af; /* gray-400 */
    transition: border 0.3s, box-shadow 0.3s;
}

.password-input:focus {
    border-color: #333; /* Green border on focus */
}

/* Media query for screens with a max width of 480px */
@media (max-width: 480px) {
    .email-verification-page {
        padding: 10px;
        max-width: 90%;
    }

    .email-verification-container {
        padding: 20px;
    }

    .email-verification-title {
        font-size: 20px;
        margin-bottom: 16px;
    }

    .email-verification-subtitle {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .email-verification-form {
        gap: 16px;
    }

    .verify-button {
        padding: 10px;
        font-size: 16px;
    }
}
